body{ margin:0;font-family: 'Conv_MyriadPro-Regular';}
@font-face {
	font-family: 'Conv_MyriadPro-Regular';
	src: url('../fonts/MyriadPro-Regular.eot');
	src: local('☺'), url('../fonts/MyriadPro-Regular.woff') format('woff'), url('../fonts/MyriadPro-Regular.ttf') format('truetype'), url('../fonts/MyriadPro-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

.header{ width:1000px; padding-bottom:100px; margin:0 auto; padding-top: 10px;}
.logo{ float:left;margin-top: 20px;}
/*--------------------------//// Header Login From Started --------------*/
.header_top_login{ float:right;}
.header_email{outline: 0px;
height: 37px !important;margin-top: 2px !important;
width: 131px;margin-top: 19px;
margin-right: 20px;
background: url(../images/email.png);
background-repeat: no-repeat;
background-position: 9px,left center;
background-color: #fff;
padding-left: 36px !important;
/* padding: 4px; */
border: 1px solid #333;}
.header_password{outline: 0px;
height: 37px !important;
width: 131px;
margin-right: 20px;
background:url(../images/password.png);
background-repeat: no-repeat;
background-position: 9px,left center;
background-color: #fff;
padding-left: 36px !important;
/* padding: 4px; */
border: 1px solid #333;}
.sign_top{height: 40px;
width: 100px !important; margin-top: -11px !important;
background-color: #68b12f;
background: -webkit-gradient(linear, left top, left bottom, from(#68b12f), to(#50911e));
background: -webkit-linear-gradient(top, #68b12f, #50911e);
background: -moz-linear-gradient(top, #68b12f, #50911e);
background: -ms-linear-gradient(top, #68b12f, #50911e);
background: -o-linear-gradient(top, #68b12f, #50911e);
background: linear-gradient(top, #68b12f, #50911e);
border: 1px solid #509111;
border-bottom: 1px solid #5b992b;
border-radius: 3px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
-ms-border-radius: 3px;
-o-border-radius: 3px;
box-shadow: inset 0 1px 0 0 #9fd574;
-webkit-box-shadow: 0 1px 0 0 #9fd574 inset;
-moz-box-shadow: 0 1px 0 0 #9fd574 inset;
-ms-box-shadow: 0 1px 0 0 #9fd574 inset;
-o-box-shadow: 0 1px 0 0 #9fd574 inset;
outline: 0px;
border: 0px;
font-size: 18px;
color: #fff; cursor:pointer;}
.header_top_login a{margin-left: 2px !important;
margin-top: -4px;
color: #333;
text-decoration: none;}
.check_box {margin-left: 0px !important;
margin-top: 14px;
color: #333;
text-decoration: none;}
.footer_full_width span{ float:right; color:#fff;}
.copy{width:1000px; margin:0 auto;}

/*--------------------------//// Header Login From End --------------*/

/*-----------------------/// Mid Section Started Here -----------------*/
.mid{ width:100%; padding-bottom:22px; background-color:#f1f1f1 !important; background:url(../images/bg.png); background-repeat:no-repeat; background-position:center;}
.mid_form{ width:1000px; margin:0 auto; padding-top: 13px; }
.from{ width:515px; float:left; background:url(../images/from_bg.png); padding-bottom:30px;-webkit-box-shadow: -3px 3px 5px 1px rgba(143,143,143,1);
-moz-box-shadow: -3px 3px 5px 1px rgba(143,143,143,1);margin-left: 3px;
box-shadow: -3px 3px 5px 1px rgba(143,143,143,1);border-radius: 6px;border: 1px solid #B6B6B6;}
.from h1{font-size: 22px;
color: #333;
font-weight: normal;
float: left;
margin-left: 16px;
margin-right: 18px;
margin-top: 20px;
padding: 0px;
margin-bottom: 6px;}
.first_name{outline: 0px;
height: 37px !important;
width: 150px !important;
background:url(../images/name.png);
background-repeat: no-repeat;
background-position: 9px,left center;
background-color: #fff;
padding-left: 36px !important;
/* padding: 4px; */}
.Surname_name{outline: 0px;
height: 37px !important;
width: 172px !important;
background:url(../images/name.png);
background-repeat: no-repeat;
background-position: 9px,left center;
background-color: #fff;
padding-left: 36px !important;
/* padding: 4px; */
border: 1px solid #333;}
.first_email{outline: 0px;
height: 37px !important;
width: 417px !important;
background: url(../images/email.png);
background-repeat: no-repeat;
background-position: 9px,left center;
background-color: #fff;
padding-left: 36px;
/* padding: 4px; */
border: 1px solid #333;}
.first_password{outline: 0px;
height: 37px !important;
width: 417px !important;
background:url(../images/password.png);
background-repeat: no-repeat;
background-position: 9px,left center;
background-color: #fff;
padding-left: 36px;
/* padding: 4px; */
border: 1px solid #333;}
.first_contact{outline: 0px;
height: 37px !important;
width: 417px !important;
background:url(../images/contact.png);
background-repeat: no-repeat;
background-position: 9px,left center;
background-color: #fff;
padding-left: 36px;
/* padding: 4px; */
border: 1px solid #333;}
.from select{font-size: 14px;
height: 34px;
width: 103px;
margin-left: 7px;
outline: 0px;
border: 1px solid #333;

padding: 6px;}
.from h2{font-size: 24px;
color: #333;
font-weight: normal;
float: left;margin-top: 11px;
margin-left: 27px;
margin-right: 31px;}
.from input[type="checkbox"] {margin-top: 21px;
margin-left: 16px;
font-size: 14px;
color: #333;}
.get_started{ background: #e19112;
border: 0px solid #333; cursor:pointer;
font-size: 30px;
color: #fff;
font-weight: bold;
height: 57px;
width: 239px;
border-radius: 10px;
margin-left: 25px;
margin-top: 20px;-webkit-box-shadow: -3px 3px 5px 1px rgba(143,143,143,1);
-moz-box-shadow: -3px 3px 5px 1px rgba(143,143,143,1); outline:0px;}
.right_mid{ width:473px; float:right;}
.right_mid img{margin-left: 32px;
}
.right_mid h1{font-size: 29px;
color: #333;margin-bottom: 0px;padding-bottom: 16px;
font-weight: normal;
float: left;
margin-left: 27px;
margin-right: 31px; color:#78830f; font-style:italic;text-shadow: 4px 4px 9px rgba(150, 150, 150, 1);}

}
.clear{ clear:both;}
/*----------------------/// Mid Section End ---------------------------*/
/*--------------Foooter Stared Here ------------------*/
.footer_full_width{ background:#1570a6; width:100%;padding-top: 15px;}
.mid_footer{ width:1000px; margin:0 auto; padding-bottom:8px; }
.left_footer{width: 254px;
height: 140px;
float: left;}
.left_footer h1{ color: #fff;margin-bottom: 11px;margin-top: 0px;
font-size: 30px;display: none;
font-weight: normal;padding-left: 12px;
border-bottom: 1px solid #ccc;}
.left_footer ul { list-style-type:none; list-style-image:url(../images/footer_arrow.png);margin-left: 0px;
padding: 0px;
padding-left: 26px;
/* padding-bottom: 14px; */
margin-top: 0px; }
.left_footer ul li{font-size: 14px;
color: #fff;line-height: 24px;}
.left_footer ul li a{color: #fff;
text-decoration: none;}
.right_footer{ width:679px; height: 136px; float:right;  background-repeat: no-repeat;margin-bottom: 14px;
background-position:left 20px center,right 20px center;}
.right_footer ul{ list-style-type:none;}
.right_footer ul li{float: left;

margin-left: 43px;
margin-top: 30px;}
.mid_footer span{ color:#fff; float:right;}
.first_row{ height:auto;  width:100%;}
.main_book_div{}
.name_field{ background:url(../images/name.png); height: 20px;
width: 16px;
float: left;
position: absolute;
margin-top: 10px;
margin-left: 10px;}
.name_field_mail{background:url(../images/email.png); height: 20px;
width: 22px;
float: left;
position: absolute;
margin-top: 10px;
margin-left: 10px;}
.name_field_password{background:url(../images/password.png); height: 20px;
width: 16px;
float: left;
position: absolute;
margin-top: 10px;
margin-left: 10px;}
.name_field_phone{background:url(../images/contact.png); height: 16px;
width: 16px;
float: left;
position: absolute;
margin-top: 13px;
margin-left: 10px;}
.define_gender{ float:left !important;margin-top: -11px;}
.check_box p{margin: 0px;
padding: 0px;
text-align: right;
margin-top: -20px;
width: 92px;}
.check_box{margin-top: -19px; float:left;}
.submit_length{width: 491px;}
.keep{width: 151px;
float: left;
margin-right: 45px;}
.keep a{float: right;
line-height: 29px;}
.keep_1{
width: 181px;
float: left;
}
.keep_1 a{}
/*--------------Footer Stared Here -------------------*/
.new_form{padding: 0px;
padding-left: 15px;}
	.new_form  li{ float:left; list-style-type:none;}
	.new_form  li span{}
	.clear{clear:both;}
	.big_field{width:430px !important;margin-bottom: 16px !important;}
	.left{float:left;}
	.first_name_1{ width: 20px !important;
height: 20px;z-index: 999;
background: url(../images/name.png);
background-repeat: no-repeat;
float: left;
position: absolute;
margin-left: 12px;
margin-top: 15px;}
	.email{ width: 20px;
height: 20px;
background:url(../images/email.png);
background-repeat: no-repeat;z-index:999;
float: left;
position: absolute;
margin-left: 12px;
margin-top: 14px;}
.pass{ width: 20px;
height: 20px;
background:url(../images/password.png);
background-repeat: no-repeat;
float: left;
position: absolute;
margin-left: 12px;
margin-top:12px;z-index:999;}
.pass_repeat{ width: 20px;
height: 20px;
background:url(../images/password.png);
background-repeat: no-repeat;
float: left;
position: absolute;
margin-left: 12px;
margin-top: 14px;z-index:999;}

.phone{
	width: 20px;
height: 20px;
background:url(../images/contact.png);
background-repeat: no-repeat;
float: left;
position: absolute;z-index:999;
margin-left: 12px;
margin-top: 16px;
	}
	.date{width: 104px;
margin-right: 13px;
height: 27px}
.dob_select{}
.dob_text{float: left;
font-size: 15px;
margin-bottom: 6px;}
.dob_text_1{float: left;
font-size: 15px;
margin-bottom: 6px;margin-right: 21px;}
.li{margin-top: 10px;}
.submit_1 {
background-color: #68b12f;
background: -webkit-gradient(linear, left top, left bottom, from(#68b12f), to(#50911e));
background: -webkit-linear-gradient(top, #68b12f, #50911e);
background: -moz-linear-gradient(top, #68b12f, #50911e);
background: -ms-linear-gradient(top, #68b12f, #50911e);
background: -o-linear-gradient(top, #68b12f, #50911e);
background: linear-gradient(top, #68b12f, #50911e);
border: 1px solid #509111;
border-bottom: 1px solid #5b992b;
border-radius: 3px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
-ms-border-radius: 3px;
-o-border-radius: 3px;
box-shadow: inset 0 1px 0 0 #9fd574;
-webkit-box-shadow: 0 1px 0 0 #9fd574 inset;
-moz-box-shadow: 0 1px 0 0 #9fd574 inset;
-ms-box-shadow: 0 1px 0 0 #9fd574 inset;
-o-box-shadow: 0 1px 0 0 #9fd574 inset;
color: white;
font-weight: bold;
padding: 9px 25px;
text-align: center;
text-shadow: 0 -1px 0 #396715;
font-size: 21px;
float: right;margin-right: 44px;
}
.radio_button{width: 300px;
margin-top: -15px;
float: right;}
.icon_dob{ background:}

.female_span
{   
    loat: right;
    margin-bottom: -34px;
    margin-right: -132px;
    width: auto ;
	}
	
	
	.f_span
	{
		    margin-left: -39px !important;
	}
.male_span
{
	float: right;
    margin-bottom: -32px;
    margin-right: -135px;
}

.dob_span
{
	margin-bottom:-18px !important;
}